ul{

	padding: 10px;
}

a{
	text-decoration: none;
	color: grey;

}

li{

	display: block;
	width: 25%;
	background-color: yellow;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	float: left;

}

a:hover{

	text-decoration: underline;

	color: black;
	cursor: progress;

}